<template>
    <div>

        <div class="sh-panel" @click="showModal">
            SEO
        </div>

        <div class="sh-modal" v-show="showedModal">
            <!-- Modal content -->
            <div class="content" ref="modal">
                <span class="close" @click.prevent="hideModal()">&times;</span>
                <h2>Seo данные страницы: {{pageUrl}}</h2>

                <div class="form-group" v-for="(field, index) in fields">
                    <label>{{labels[index]}} ({{index}})</label>
                    <textarea class="form-control"
                              :name="field.code"
                              type="text"
                              v-model="fields[index].value"
                              :placeholder="defaultValues[index] ? defaultValues[index].value : ''"></textarea>
                </div>

                <div class="form-group">
                    <input class="btn btn-primary" value="Сохранить" type="button" @click="saveValues">
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        props: {
            pageUrl: {
                type: String,
                required: true
            },
            defaultValues: {
                type: Object,
                default: function () {
                    return {}
                }
            }
        },
        name: "SeoHelper",
        data() {
            return {
                showedModal: false,
                loadedFields: false,
                sending: false,
                fields: {
                    'title': {value: '',},
                    'description': {value: ''},
                    'keywords': {value: ''},
                    'twitter:title': {value: ''},
                    'twitter:description': {value: ''},
                    'twitter:url': {value: ''},
                    'twitter:image': {value: ''},
                    'opengraph:title': {value: ''},
                    'opengraph:description': {value: ''},
                    'opengraph:url': {value: ''},
                    'opengraph:image': {value: ''},
                },
                labels: {
                    'title': 'Тайтл',
                    'description': 'Описание',
                    'keywords': 'Ключевые слова',
                    'twitter:title': 'Twitter Тайтл',
                    'twitter:description': 'Twitter Описание',
                    'twitter:url': 'Twitter Ссылка',
                    'twitter:image': 'Twitter Изображение',
                    'opengraph:title': 'OpenGraph Тайтл',
                    'opengraph:description': 'OpenGraph Описание',
                    'opengraph:url': 'OpenGraph Ссылка',
                    'opengraph:image': 'OpenGraph Изображение'
                }
            };
        },
        methods: {
            toggleModal($event) {
                for (let i in $event.path) {
                    if ($event.path[i] == this.$refs.modal) return;
                }
                if (!this.showedModal) {
                    this.showModal();
                } else {
                    this.hideModal();
                }
            },
            showModal() {
                if (!this.loadedFields) {
                    let endpoint = `/seo-helper/get-fields`;
                    let data = {
                        pageUrl: this.pageUrl
                    };

                    var vu = this;
                    axios.post(endpoint, data)
                        .then(({data}) => {
                            if (data.status == 'ok') {
                                vu.fields = Object.assign({}, vu.fields, data.values);
                                vu.showedModal = true;
                                vu.loadedFields = true;
                            } else {
                                alert(data.message);
                            }
                        }).catch(error => {
                        console.log(error);
                    });
                } else {
                    this.showedModal = true;
                }
            },
            hideModal() {
                this.showedModal = false;
            },
            saveValues() {
                if (this.sending) return;

                this.sending = true;

                let endpoint = `/seo-helper/set-fields`;
                let data = {
                    pageUrl: this.pageUrl,
                    fields: this.fields
                };

                var vu = this;
                axios.post(endpoint, data)
                    .then(({data}) => {
                        if (data.status == 'ok') {
                            vu.sending = false;
                            alert(data.message);
                        } else {
                            alert(data.message);
                        }
                    }).catch(error => {
                        vu.sending = false;
                    console.log(error);
                    });
            },
        },
        created() {

        },
    }
</script>

<style lang="scss" scoped>
    .fade-enter-active, .fade-leave-active {
        transition: opacity .5s;
    }

    .fade-enter, .fade-leave-to /* .fade-leave-active до версии 2.1.8 */
    {
        opacity: 0;
    }

    .sh-panel {
        position: fixed;
        top: 15px;
        z-index: 9999;
        left: 0;
        background: orange;
        border: 1px solid #b17200;
        color: #fff;
        cursor: pointer;
        font-size: 30px;
        border-radius: 0 3px 3px 0;
        line-height: 1;
        text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.2);
        padding: 5px;
        box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.2);
        font-weight: bold;
        transition: all 0.3s;

        &:hover {
            padding-left: 10px;
        }
    }

    .sh-modal {
        display: block; /* Hidden by default */
        position: fixed; /* Stay in place */
        z-index: 10000; /* Sit on top */
        left: 0;
        top: 0;
        width: 100%; /* Full width */
        height: 100%; /* Full height */
        overflow: auto; /* Enable scroll if needed */
        background-color: rgb(0, 0, 0); /* Fallback color */
        background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
        .content {
            background-color: #fefefe;
            margin: 5% auto; /* 15% from the top and centered */
            padding: 20px;
            border: 1px solid #888;
            width: 800px; /* Could be more or less, depending on screen size */
            color: #333;
        }

        /* The Close Button */
        .close {
            color: #aaa;
            float: right;
            font-size: 28px;
            font-weight: bold;

            &:hover,
            &:focus {
                color: black;
                text-decoration: none;
                cursor: pointer;
            }
        }
    }

</style>